# R or Python

# data load



时间帐单 收集
date

    ,tI     输入
    ,tO     输出
    ,tC     交流
    ,tM     杂务
    ,tF     家庭
    ,tS     睡眠             

    Pt      蕃茄钟
    ,Pd     DONE 蕃茄钟
    ,Pl     LOST 任务钟
    ,Po     OUT  蕃茄钟


所以,要进行一系列数据整理先

In [61]:
ls data

zq_1009.txt  zq_1011.txt  zq_1101.txt  zq_1103.txt  zq_1105.txt
zq_1010.txt  zq_1012.txt  zq_1102.txt  zq_1104.txt  zq_1106.txt

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
pd.read_csv('data/atl2_150106-150201.csv')

     活动类别    持续时间  Percent
0   Livin  196.57     25.6
1    Life  160.78     20.9
2  Works   156.63     20.4
3   Chaos   94.95     12.4
4   Input   21.03      2.7
5      其他  137.97     18.0
6      总计  768.00      NaN